<div class="box">
  <div class="titre">
    <p>Marie Fontanel</p>
    <p>Développeuse Web</p>
  </div>
  <div class="ancre">
    <a href="#je_suis">Qui je suis</a>
    <a href="#parcours">Mon parcours</a>
    <a href="#contact">Me contacter</a>
  </div>
</div>
<section class="presentation">
  <div><a name="je_suis"></a></div>
  <div class="photo">
    <img src="images/marie.jpg">
  </div>
  <div class="texte">
      <h3>Je me présente : </h3>
      <p>Marie, femme dynamique, organisée et toujours motivée. Je mets toutes les chances de mon côté pour réussir ce que je j'entreprends.</p>
      <p>J'aime la vie, j'aime les défis. Je garde le sourire en toutes circonstances.</p>
      <p>J'aime les relations humaines. J'ai ce besoin constant de rendre service et d'être disponible pour les autres.</p>
      <p>Je suis une maman comblée de 3 beaux enfants, qui aujourd'hui comprennent mon besoin de me concentrer sur ma carrière.</p>
  </div>
</section>
<section class="texte"><a name="parcours"></a>
  <h3>Mon parcours : </h3>
  <p>Parcours très atypique avant d'arriver dans le domaine du numérique. Je viens d'effectuer un virage professionnel : je vis désormais ma passion du numérique au quotidien en excerçant le métier de développeuse web.</p>
  <p>Avec un baccalauréat littéraire en poche en 1998, j'ai fait une année de fac d'anglais.</p>
  <p>Je suis ensuite entrée dans la vie professionnelle.</p>
  <p>J'ai fait plusieurs petits boulots avant de signer un CDI comme hôtesse de caisse en mai 2001, élue déléguée du personnel.</p>
  <p>Passionnée par l'informatique, les réseaux sociaux, la photographie, j'étais sans arrêt derrière mon écran d'ordinateur.</p>
  <p>Grâce à celà, j'ai su qu'en avril 2015, une école <a href="http://www.simplonve.co" class="lien" target="_blank">Simplon</a> allait s'ouvrir.</p>
  <p>J'ai bien évidemment tenté ma chance et ma candidature a été retenue, pour mon plus grand bonheur !</p>
  <p>J'ai donc acquis les bases de la programmation et du développement. Je connais le Html/Css, Ruby avec Sinatra ou Rails, Git. J'ai des notions de Javascript, Jquery et un peu de Python.</p>
  <p>J'ai découvert également le travail avec la méthode agile et le "Pair Programming".</p>
  <p>J'ai participé à plusieurs projets d'équipe, notamment la création d'un <a href="http://quizz-agro.herokuapp.com" class="lien" target="_blank">quiz</a> sur le thème de l'agro-alimentaire, le lancement de notre site concernant les ateliers pour enfants, le <a href="http://kidscoding07.herokuapp.com" class="lien" target="_blank">Kidscoding 07</a></p>
  <p>J'ai aussi eu le plaisir d'effectuer un stage pour <a href="http://http://www.bibliosansfrontieres.org" class="lien" target="_blank">Bibliothèques Sans Frontières</a>, pendans lequel nous avons avec ma collègue Sophie, travaillé sur la gestion visuelle du serveur KoomBook.</p>
  <p>Je suis également très fière de faire partie de celles et ceux qui ont participé au <a href="http://www.elysee.fr/photos/remise-du-rapport-sur-la-mise-en-uvre-de-la-grande-ecole-du-numerique-2/?input-search=&input-date1=&input-date2=&input-theme=10&search_index=0#content" class="lien" target="_blank">hackathon</a> organisé les 16 et 17 septembre 2015 à l'Elysée.</p>
</section>
<section class="texte"><a name="contact">
  <h3>Contactez moi</h3>
  <p>Je suis à votre disposition pour tout renseignement.</p>
  <p>N'hésitez pas à me contacter, nous étudierons ensemble votre projet et je saurai vous proposer la meilleure solution numérique qu'il soit.</p>
</section>
