<!DOCTYPE html>
<html>
<head>
	<meta charset="utf_8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>@# Marie FONTANEL | Développeuse Web #@</title>
</head>
<body>
		<%= yield %>
</body>
</html>
